/*General styles*/
.page {
  background-image: url('/home_background.jfif');
  background-size: cover;
  background-position: calc(64vw - 50px) bottom;
  background-repeat: repeat no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  font-family: var(--font-geist-sans);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  height: 90vh;
  padding-top: 40px;
}

/*Logo styles*/
.logoContainer {
  width: 35%;
  align-self: end;
  display: flex;
  justify-content: flex-end;
}

.logo {
  padding: 0 37px 19px 0;
}

/*Characters container*/
.charactersContainer {
  width: 100%;
  height: 100%;
  background-color: var(--color-list);
  border-radius: 20px;
  box-shadow: 0px 4px 3px 0px #0000000d;
  z-index: 1;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
}

/*Footer*/
.footer {
  height: 15vh;
  width: 100%;
  background: linear-gradient(180deg, #9edf25 3.03%, #1e2e00 177.63%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 0;
  position: absolute;
  bottom: 0;
}

/*********CSS MEDIA QUERIES************/

/*Tablets*/
@media only screen and (max-width: 1200px) {
  .page {
    background-position: calc(60vw - 35px) bottom;
  }
  .main {
    width: 75%;
  }
}

/*Mobile*/
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  /*General*/
  .page {
    background-position: 60% bottom;
  }
  .main {
    width: 100%;
    padding: 30px 15px 0px 15px;
    height: calc(100% - 50px);
  }
  /*Logo*/
  .logoContainer {
    width: 100%;
    justify-content: center;
  }
  .logo {
    padding: 0;
    max-width: 340px;
    width: 90%;
  }
  /*Characters*/
  .charactersContainer {
    background-color: transparent;
    flex-direction: column;
  }

  /*Footer*/
  .footer {
    height: 50px;
  }
}
